
.idea/sqldialects.xml
.idea/dataSources.local.xml
.idea/dataSources.local.xml
.idea/dataSources.local.xml
.idea/dataSources.local.xml
.idea/sqldialects.xml
my-project-backend/src/main/resources/env.properties
.idea/dataSources/22b3cca2-c63a-4658-b454-3b996daf8fec.xml
.idea/dataSources/11dfe58a-822b-42d7-a033-f9b3dcc17ffe.xml
.idea/dataSources.local.xml
.idea/dataSources/11dfe58a-822b-42d7-a033-f9b3dcc17ffe.xml
.idea/dataSources/22b3cca2-c63a-4658-b454-3b996daf8fec.xml
.idea/dataSources.local.xml
.idea/dataSources/22b3cca2-c63a-4658-b454-3b996daf8fec/storage_v2/_src_/schema/test.kkQ2AA.meta
.idea/dataSources.local.xml
.idea/dataSources.local.xml
